.set-margin-bottom {
  margin-bottom: rem(16px);
}

.set-margin-bottom-to-desktop {
  @include to($desktop) {
    margin-bottom: rem(16px);
  }
}

.set-margin-bottom-2 {
  margin-bottom: rem(32px);
}

.set-margin-left {
  margin-left: rem(16px);
}
