article.article.article--fylo.set-margin-bottom-to-desktop.set-box-shadow
  header.main-header.set-margin-bottom-2
    img.logo(src="images/logo.svg" alt="Site logo")
  ul.icons-list
    li.icons-list__item: a.icons-list__link(href="#"): img.icons-list__icon(src="images/icon-document.svg", alt="Document icon")
    li.icons-list__item: a.icons-list__link(href="#"): img.icons-list__icon(src="images/icon-folder.svg", alt="Folder icon")
    li.icons-list__item: a.icons-list__link(href="#"): img.icons-list__icon(src="images/icon-upload.svg", alt="Upload icon")
