article.article.article--storage.available-storage.set-box-shadow
  p.available-storage__description.set-font-size-medium.set-margin-bottom You've used #[strong 810 GB] of your storage
  .available-storage__progress-bar.set-margin-bottom
  .available-storage__min-max
    span.set-font-size-small 0 GB
    span.set-font-size-small 1000 GB
  +tooltip("185", "GB left", "available-storage__tooltip")
