.available-storage {
  position: relative;

  &__description {
    color: white;
  }

  &__progress-bar {
    position: relative;
    background-color: $darker-blue;
    height: rem(20px);
    width: 100%;
    border-radius: rem(10px);

    &::after {
      content: "";
      position: absolute;
      width: 75%;
      height: rem(14px);
      left: rem(3px);
      top: rem(3px);
      border-radius: rem(7px);
      background-image: $gradient;
    }

    &::before {
      content: '';
      position: absolute;
      left: calc(75% - #{rem(10px)});
      top: rem(5px);
      z-index: 10;
      width: rem(10px);
      height: rem(10px);
      background-color: white;
      border-radius: 50%;
    }
  }

  &__min-max {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  &__tooltip {
    position: absolute;

    @include to($desktop) {
      left: 50%;
      transform: translateX(-50%);
      bottom: rem(-32px);
    }

    @include from($desktop) {
      right: $storage-article-right-padding;
      top: #{rem(-45px)};

      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 17px solid white;
        transform: rotateZ(45deg);
        right: rem(-11px);
        bottom: rem(-14px);
      }
    }
  }
}
