.article {
  --padding-bottom: #{rem(52px)};
  
  background-color: $dark-blue;
  border-radius: rem(10px);
  padding: rem(40px) #{$storage-article-right-padding} var(--padding-bottom);

  &--fylo {
    padding: rem(40px);
    border-radius: rem(10px) rem(100px) rem(10px) rem(10px);
  }

  &--storage {
    @include from($desktop) {
      --padding-bottom: #{rem(38px)};
    }
  }
}
